@using Application.DTOs
@using Application.Services.ClassesServices
@rendermode InteractiveServer
@using Infrastructure.Migrations
@inject  IClassesService ClassesService
@inject NavigationManager navigation
@page "/Classes/Add"
<div>
    <EditForm Model="classs" OnValidSubmit="SaveClassAsync">
      
        <h1>Add Classes</h1>
        <div class="form-group">
            <label class="form-label">Class Name:</label>
            <InputText class="form-control" @bind-Value="classs.ClassName" />
        </div>
        <div class="form-group">
            <label class="form-label">Class Code:</label>
            <InputText class="form-control" @bind-Value="classs.Classcode" />
        </div>  
        <div class="form-group">
            <label class="form-label">Instructor Name:</label>
            <InputText class="form-control" @bind-Value="classs.InstructorName" />
        </div>
       
        <div class="form-group">
            <label class="form-label">Department:</label>
            <InputText class="form-control" @bind-Value="classs.Department" />
        </div>
        <div class="form-group">
            <label class="form-label">School Year:</label>
            <InputText class="form-control" @bind-Value="classs.Schoolyear" />
        </div>
   
        <div class="form-group">
            <label class="form-label">Education Level Id:</label>
              @* Use InputNumber for int types *@
            <InputNumber class="form-control" @bind-Value="classs.EducationLevelId" />
        </div>
        <div class="form-group">
            <label class="form-label">Faculty Id:</label>
              @* Use InputNumber for int types *@
            <InputNumber  class="form-control" @bind-Value="classs.FacultyId" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
  </div>



@code{
    private AddClassDTO classs= new ();
    private async Task SaveClassAsync()
    {
   await  ClassesService.AddClassesAsync(classs);
    navigation.NavigateTo( "/Classes");
    }
}