
@using Domain.Entities;
@using Application.Services.AttendanceServices;
@inject IAttendanceService AttendanceService;
@page "/Attendance"

<h1>Attendance</h1>
<a class="btn btn-primary" href="/Attendance/Add">Add Attendance</a>
<table class="table">
    <thead>
<tr>
        <th>Id</th>
        <th>ClassId</th>
        <th>Date</th>
        <th>Status</th>
    </tr>
    </thead>
    
@foreach(var attendance in attendances)
{<tr>
    <td>@attendance.Id</td>
      <td>@attendance.ClassId</td>
       <td>@attendance.Date</td>
         <td>@attendance.Status</td>
</tr>

}
</table>
@code{
    private List<Attendance>attendances=new List<Attendance>();
    protected override void OnInitialized()
    {
        attendances=AttendanceService.GetAllAttendances();
    }
}