
@using Application.Services.StudentServices
@inject IStudentService StudentService
@inject NavigationManager navigation
@page "/Students/Delete/{id:int}"
@rendermode InteractiveServer
@using Application.DTOs

<div>
    <EditForm OnValidSubmit="RemoveStudent" Model="student">
        <label>You are Deleting Student: </label>
<button class="btn btn-danger" type="submit">Delete</button>
<button class="btn btn-primary" type="submit">Cancel</button>

    </EditForm>
</div>


@code{
    [Parameter]
    public int Id{get;set;}
    private GetStudentDTO? existingStudent;
    public DeleteStudentDTO student=new();
    protected override async Task OnParametersSetAsync()
    {
       existingStudent=await StudentService.GetStudentByIdAsync(Id);
       if(existingStudent !=null)
       {
        student.Id=existingStudent.Id;
       }

    }
    public async Task RemoveStudent()
    {
       await  StudentService.DeleteStudentAsync(student);
        navigation.NavigateTo( "/Students");
    }
    private void Cancel()
    {
         navigation.NavigateTo("/Classes");
    }

}