@using Domain.Entities;
@using Application.Services.EDucationLevelServices;
@inject NavigationManager Navigation
@inject IEducationLevelService EducationLevelService
@page "/EducationLevelPage"
<h1>EducationLevel</h1>
<a class="btn btn-primary" href="/EducationLevel/Add">Add EducationLevel</a>
<table class="table">
    <thead>
<tr>
        <th>Id</th>
        <th>ClassName</th>
        <th>Classcode</th>
        <th>InstructorName</th>
        <th>faculty</th>
        <th>Department</th>
        <th>Schoolyear</th>
        <th>useradded</th>
        <th>DateAdded</th>
        <th>Status</th>

    </tr>
    </thead>
    
@foreach(var EducationLevel in EducationLevels)
{
    <tr>
        <td>@EducationLevel.Id</td>
         <td>@EducationLevel.LevelName</td>
          <td>@EducationLevel.Description</td>
    </tr>
}
</table>
@code{
    private List<EducationLevel>EducationLevels=new List<EducationLevel>();
        protected override void OnInitialized()
        {
          EducationLevels=EducationLevelService.GetAllEducationLevel();
        }
}