@inject NavigationManager navigation
@inject IStudentService StudentService
@rendermode InteractiveServer
@using Application.Services.StudentServices
@using Application.DTOs
@page "/Students/Update/{id:int}"

<h1>Update Student</h1>
<EditForm Model="@student" OnValidSubmit="EditStudent">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Full Name</label>
        <InputText class="form-control" @bind-Value="student.FullName" />
    </div>
    <div class="form-group">
        <label>Date Of Birth</label>
        <InputDate class="form-control" @bind-Value="student.DateOfBirth" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <InputText class="form-control" @bind-Value="student.Email" />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</EditForm>
@code{
    [Parameter]
    public int id {get;set;}
    public GetStudentDTO? existingStudent;
    public UpdateStudentDTO student=new();
    protected override void OnParametersSet()
    {
       existingStudent=StudentService.GetStudentById(id);
       if(existingStudent!=null)
        {
        
        student.Id=existingStudent.Id;
        student.FullName=existingStudent.FullName;
        student.DateOfBirth=existingStudent.DateOfBirth;
        student.Email=existingStudent.Email;
        

       }
       
    }
     public void EditStudent()
     {
     StudentService.UpdateStudent(student);
     navigation.NavigateTo("/Students");
     }
   
}
